# Bundler
.bundle/
*.gem

# Logfiles
log/*.log

# External dependencies
pkg/

# Specs
spec/dummy/log/*.log
spec/dummy/node_modules/
spec/dummy/yarn-error.log
spec/dummy/storage/
spec/dummy/tmp/

# IDE files
/.idea

# DB
spec/dummy/db/*.sqlite3